[mysqld]
back_log=512
basedir=/usr/local/mysql
binlog_cache_size=4M
binlog_format=mixed
datadir=/data/mysql/data
default-storage-engine=InnoDB
log-err=/data/mysql/run/error.log
innodb_adaptive_hash_index=1
innodb_additional_mem_pool_size=16M
innodb_buffer_pool_size=12G
innodb_data_file_path=ibdata1:1024M:autoextend
innodb_file_io_threads=4
innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT
innodb_file_per_table=1
innodb_lock_wait_timeout=120
innodb_log_buffer_size=16M
innodb_log_file_size=128M
innodb_log_files_in_group=3
innodb_max_dirty_pages_pct=90
innodb_mirrored_log_groups=1
innodb_open_files=500
innodb_thread_concurrency=0
join_buffer_size=8M
log-bin=/data/mysql/binlog/mysql-bin
log_slave_updates=1
long_query_time=1
master-info-file=/data/mysql/relaylog/master.info
max_allowed_packet=16M
max_binlog_cache_size=16M